@mixin icon($icon) {
    filter: invert(100%);
    background-image: url("https://kaisalmon.com/cardgame/include/loadImage.php?icon="+$icon); 
    background-size: 100% 100%;
}
@mixin text-outline($color) {
    text-shadow: 2px 0px black,
                 -2px 0px black,
                 0px  2px black,
                 0px -2px black,
                2px 2px black,
                 -2px 2px black,
                 2px -2px black,
                 -2px -2px black;
}

.wrapper{
    &--hero{
        display: inline-block;
    }
}


.choosable{
    transition: filter 0.5s;
    &--highlighted{
        cursor: pointer;
        filter: drop-shadow(0 0 2px white) 
                drop-shadow(0 0 1px orange) 
                drop-shadow(0 0 1px red);

        &:hover{
            filter: brightness(125%)
                    drop-shadow(0 0 3px white) 
                    drop-shadow(0 0 2px orange) 
                    drop-shadow(0 0 2px red);
        }
    }
}

.card{
  z-index: -1;
}
.card, .hero {
  font-family: 'Rokkitt';
  border: 4px solid black;
  border-radius: 5px ;
  display: inline-block;
  position: relative;
  background-color: white;
  vertical-align: text-bottom;
  width: 110px;
  height: 100px;
  font-size: 0.7rem;
  padding: 3px;
    
  transition: opacity 0.5s, transform 0.5s;

  & + &{
  }
    
  > * {
    box-sizing: border-box;
  }

  &__titlebar {
    @include text-outline(black);
    color:orange;
    overflow: hidden;
    padding: 2px;
    padding-top:0;
    margin-bottom: 2px;
    border-bottom: solid black 4px;
    width: 100%;
    font-weight: bold;
    font-size: 0.7rem;
    line-height:150%;
    text-align: center;
    vertical-align: middle;
    overflow-x: hidden;
    white-space: nowrap;
  }

  &__icon{
    margin-left: 30px;
    filter: invert(100%);
    mix-blend-mode: multiply;
    width: 50px;
    height: 50px;

    .fit-text &{
        display: none;
    }
  }
  &__stats{
    display:flex;
    justify-content:space-between;
    margin-bottom: 3px;
    background: white;
    border: 2px solid rgba(255,255,255,0.5);
  }
  &__strength, &__arcana, &__health, &__armored{
      @include text-outline(black);
        width: 1.6rem;
        line-height: 1.6rem;
        height: 1.6rem;
      color:white;
      text-align:center;
      display: inline-block; 
      &--damaged{
        color:cyan;
      }
  }

  &__strength{
      @include icon(crossed-swords);
  }
  &__arcana{
      @include icon(seven-pointed-star);
  }
  &__health{
      @include icon(hearts);
  }
  &__armored{
      @include icon(shield);
  }

  &.fit-text{
      overflow-x: auto;
  }
  &.fit-text &__description{
    line-height: 0.9em;  
  }
  
  transition: transform 0.4s;
  &.active{
    transform: scale(1.2);
  }

  &--Invocation, &--Priest{
    background: lightskyblue;
  }
  &--Maneuver, &--Warrior{
    background: pink;
  }
  &--Spell, &--Mage{
    background: lightslategray;
  }
  &--Trick, &--Rogue{
    background: lightgreen;
  }

  $action_r: 40px;
  &__action-wrapper{
    height: $action_r;
    position: absolute;
    bottom: -$action_r - 10px;
    justify-content: space-around;
    left: 0;
    right: 0;
    display: flex;
  }
  &--show-actions:hover &__action{ 
    transform: scale(1);
    transition-delay:0s;
  } 
  &__action{ 
    transform: scale(0);
    transition: transform 0.2s;
    margin-right:5px;
    margin-left:5px;
    img{
        filter: invert(100%);
        height: $action_r;
        width: $action_r;
    }
    transition-delay:0.2s;
  }
 
  &__status{
    z-index: 1;
    opacity:0;
    visibility: hidden;
    border: 4px solid black;
    border-radius: 5px ;
    background:white;
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;
    transform: translatey(calc(-100% - 10px));

    transition:visibility 0s linear 0.3s, opacity 0.3s linear 0s;
    & > div{
        padding:4px;
    }
  }
  &:hover &__status{
      visibility: visible;
      opacity:1;
      transition:visibility 0s linear 1s, opacity 0.3s linear 1s;
  }

  .hand--B &{
      transform: scalex(-1);
      transition: opacity 0.5s, transform 0.5s, background 0s linear 0.2s;
      & > *{
          opacity: 1;
          transition: opacity 0s linear 0.2s;
      }
      &:not(.active) > *{
        opacity: 0;
      }
      &:not(.active){
        background: darkgray;
      }
      &.active{
        transform: scale(1.2);
      }
  }

}

.card {
    height: 140px;
}

.zones{
    $r: 20vmin;

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
    
    .zone{
        border:1px solid rgba(255,255,255,0.4);
        padding:2px;

        &__B, &__A{
            border:1px solid rgba(255,255,255,0.4);
            width:$r;
            height: $r;
        }

        &.choosable--highlighted{
            cursor: pointer;
            filter: drop-shadow(0 0 2px white) 
                    drop-shadow(0 0 1px cyan) 
                    drop-shadow(0 0 1px blue);

            &:hover{
                filter: brightness(125%)
                        drop-shadow(0 0 3px white) 
                        drop-shadow(0 0 2px cyan) 
                        drop-shadow(0 0 2px blue);
            }
        }
    }
}

.zone__A{
    --attackDir: 1;
}
.zone__B{
    --attackDir: -1;
}
.animated.attack{
  animation: attackFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes attackFrames{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  40% {
    transform:  translate(0px,calc(var(--attackDir) * 100px))  rotate(22deg) ;
 }
  60% {
    transform:  translate(0px,calc(var(--attackDir) * 100px))  rotate(22deg) ;
  }
  70% {
    transform:  translate(0px,calc(var(--attackDir) * -30px))  rotate(0deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}


