@mixin icon($icon) {
    filter: invert(100%);
    background-image: url("https://kaisalmon.com/cardgame/include/loadImage.php?icon="+$icon); 
    background-size: 100% 100%;
}
@mixin text-outline($color) {
    text-shadow: 2px 0px black,
                 -2px 0px black,
                 0px  2px black,
                 0px -2px black,
                2px 2px black,
                 -2px 2px black,
                 2px -2px black,
                 -2px -2px black;
}

.wrapper{
    &--hero{
        display: inline-block;
    }
}


.choosable{
    transition: filter 0.5s;
    &--highlighted{
        cursor: pointer;
        filter: drop-shadow(0 0 2px white) 
                drop-shadow(0 0 1px orange) 
                drop-shadow(0 0 1px red);

        &:hover{
            filter: brightness(125%)
                    drop-shadow(0 0 3px white) 
                    drop-shadow(0 0 2px orange) 
                    drop-shadow(0 0 2px red);
        }
    }
}

.card{
  z-index: -1;
}
.card, .hero {
  font-family: 'Rokkitt';
  border: 4px solid black;
  border-radius: 5px ;
  //width: 5cm ;
  //height: 7cm;
  padding: 0.25cm;
  margin: 6px;
  display: inline-block;
  position: relative;
  background-color: white;
  vertical-align: text-bottom;
  width: 200px;
    
  transform: opacity 0.5s, transform 0.5s;

  & + &{
    margin-right: 15px;
  }
    
  > * {
    box-sizing: border-box;
  }

  &__titlebar {
    @include text-outline(black);
    color:orange;
    overflow: hidden;
    padding: 0.25cm;
    padding-top:0;
    margin-bottom: 0.25cm;
    border-bottom: solid black 4px;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    line-height:150%;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    overflow-x: hidden;
    white-space: nowrap;
  }

  &__icon{
    width: 4cm;
    height:4cm;
    margin-left:0.5cm;                       


 
    filter: invert(100%);
  }
  &__stats{
    display:flex;
    justify-content:space-between;
  }
  &__strength, &__arcana, &__health, &__armored{
      @include text-outline(black);
      color:white;
      width:1cm;
      height:1cm;
      line-height: 150%;
      text-align:center;
      font-size: 0.7cm;
      display: inline-block; 

      &--damaged{
        color:cyan;
      }
  }
  &__strength{
      @include icon(crossed-swords);
  }
  &__arcana{
      @include icon(seven-pointed-star);
  }
  &__health{
      @include icon(hearts);
  }
  &__armored{
      @include icon(shield);
  }

  transition: transform 0.4s;
  &.active{
    transform: scale(1.2);
  }

  $action_r: 80px;
  &__action-wrapper{
    height: $action_r;
    position: absolute;
    bottom: -$action_r - 10px;
    justify-content: space-around;
    left: 0;
    right: 0;
    display: flex;
  }
  &--show-actions:hover &__action{ 
    transform: scale(1);
    transition-delay:0s;
  } 
  &__action{ 
    transform: scale(0);
    transition: transform 0.2s;
    margin-right:5px;
    margin-left:5px;
    img{
        filter: invert(100%);
        height: $action_r;
        width: $action_r;
    }
    transition-delay:0.2s;
  }
 
  &__status{
    z-index: 1;
    opacity:0;
    visibility: hidden;
    border: 4px solid black;
    border-radius: 5px ;
    background:white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translatey(calc(-100% - 10px));

    transition:visibility 0s linear 0.3s, opacity 0.3s linear 0s;
    & > div{
        padding:4px;
    }
  }
  &:hover &__status{
      visibility: visible;
      opacity:1;
      transition:visibility 0s linear 1s, opacity 0.3s linear 1s;
  }
}


.zones{
    $r: 20vmin;

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
    
    .zone{
        border:1px solid rgba(255,255,255,0.4);
        padding:2px;

        &__B, &__A{
            border:1px solid rgba(255,255,255,0.4);
            width:$r;
            height: $r;
        }

        &.choosable--highlighted{
            cursor: pointer;
            filter: drop-shadow(0 0 2px white) 
                    drop-shadow(0 0 1px cyan) 
                    drop-shadow(0 0 1px blue);

            &:hover{
                filter: brightness(125%)
                        drop-shadow(0 0 3px white) 
                        drop-shadow(0 0 2px cyan) 
                        drop-shadow(0 0 2px blue);
            }
        }
    }
}
